{% extends "Doctor/doctorbase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Post Request</title>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/panelforms.css' %}">

<br><br>
<div class="panelforms">
    <form method="post">
        <h2 class="header">New Request</h2>
       <div class="illustration"><i class="icon ion-clipboard"></i></div>
        <div class="form-group">{{ form.patientId|as_crispy_field }}</div>
        <div class="form-group">{{ form.date|as_crispy_field }}</div>
        <div class="form-group">{{ form.bloodType|as_crispy_field }}</div>
        <div class="form-group">{{ form.quantity|as_crispy_field }}</div>
        
        {% csrf_token %}
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Post</button></div>
      </form>
  </div>


{% endblock %}
