{% extends "Doctor/doctorbase.html" %}
{% block title %}
  <title>My Requests</title>
{% endblock %}
{% block content %}


<br><br>
<div class="container">
    {% if requests %}
    <H4 class="text-center">Blood Requested</H4><br>
    {% if message %}
   <h5 class="text-center" style="color: red;"> {{message}}</h5><br>
{% else %}

{% endif %}
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Request ID</th>
                <th scope="col">For Patient ID</th>    
                <th scope="col">Blood Group</th>
                <th scope="col">Units</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in requests %}
            <tr>
                <td> {{t.requestId}}</td>
                <td>{{t.patientId}}</td>
                <td>{{t.bloodType}}</td>
                <td>{{t.quantity}}</td>
                <td>{{t.date}}</td>
                <td>{{t.isApproved}}</td>

                {% if t.isApproved == 'P' %}
                <td class="text-right">
                    <button class="btn btn-danger badge-pill" style="width: 100px;"><a  style="text-decoration: none;color: white;" href="{% url 'Doctor:cancelreq' t.requestId %}">Cancel</a> </button>   
                </td>
                {% elif  t.isApproved == 'Y' %}
                <td><span class="label success">Approved</span></td>

                {% else %}
                <td><span class="label danger">Rejected</span></td> 
                {% endif %}
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
{% else %}
<h5>You have posted no Blood Request yet !</h5>
{% endif %}

</div>


{% endblock %}
