{% extends "Doctor/doctorbase.html" %}
{% load static %}
{% block title %}
  <title>Edit Donor</title>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'assets/css/panelforms.css' %}">
<br><br>
<div class="panelforms">
    <form action="{% url 'Doctor:editdonsave' don.donorId %}" method="post">
        <h2 class="header">Editing Donor: {{don.donorId}}</h2>
       <div class="illustration"><i class="icon ion-clipboard"></i></div>
       <label for="age">Name:</label>
       <div class="form-group" id="name"><input class="form-control-ii" type="number" name="name" placeholder="Name" value="{{don.name}}"></div>
       <label for="age">Age:</label>
       <div class="form-group" id="age"><input class="form-control-ii" type="number" name="age" placeholder="Age" value="{{don.age}}"></div>
        <div>
            <label for="sex">Sex:</label>
            {% if don.sex == 'M' %}
          <select name="sex" id="sex" class="select-css">
            <option value="M" selected >Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
          </select>
          {% elif don.sex == 'F' %}
          <select name="sex" id="sex" class="select-css">
            <option value="M" >Male</option>
            <option value="F" selected>Female</option>
            <option value="O">Other</option>
          </select>
          {% else %}
          <select name="sex" id="sex" class="select-css">
            <option value="M" >Male</option>
            <option value="F">Female</option>
            <option value="O" selected>Other</option>
          </select>
          {% endif %}
        </div>
        <label for="mobile">Mobile No.:</label>
      <div class="form-group" id="mobile"><input class="form-control" type="text" name="phone" placeholder="Mobile" value="{{don.phone}}"></div>
      <label for="e">Email:</label>
      <div class="form-group" id="e"><input class="form-control" type="text" name="email" placeholder="Email" value="{{don.email}}"></div>
      <label for="address">Address:</label>
       <div class="form-group" id="address"><input class="form-control" type="text" name="address" placeholder="Address" value="{{don.address}}"></div>
       
        {% csrf_token %}
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Save</button></div>
      </form>
      <div><a type="button" class="btn btn-danger btn-block" href="{% url 'Doctor:editdoncancel' %}">Cancel</a></div>
  </div>

{% endblock %}          
