{% extends "Blood/adminbase.html" %}
{% load static %}
{% block title %}
  <title>Admin: Blood Stock</title>
{% endblock %}
{% block content %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/icons/site.webmanifest' %}">
<style>
.xyz{
    
    display: table;
    margin-right: auto;
    margin-left: auto;
}
</style>
<br><br>
<h2 style="text-align:center ;">BLOOD STOCK</h2>
<div class="container">
  {% for t in inventory %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-light">
        <div class="card-body">
            <div class="blood">
                <h2>{{t.bloodType}} <i class="fas fa-tint"></i></h2>
            </div><br><br>
            <div>
                <h2>{{t.unit}} Units </h2>
            </div>                            
        </div>
      </div>
    </div>

  </div>
  {% endfor %}
<hr>

</div>

{% endblock %}
