{% extends "Blood/adminbase.html" %}
{% block title %}
  <title>Admin: Doctors</title>
{% endblock %}
{% block content %}

<br><br>
<div class="container">
    <H4 class="text-center">DOCTOR DETAILS</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Name</th>
                <!-- <th scope="col">Doctor ID</th> -->
                <th scope="col">Hospital ID</th>
                <th scope="col">Age</th>
                <th scope="col">Sex</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th class="text-right">Degree</th>
            </tr>
        </thead>
        <tbody>
            {% for t in doctors %}
            <tr>
                <td> {{t.name}}</td>
                <td>{{t.hospitalId}}</td>
                <td>{{t.age}}</td>
                <td>{{t.sex}}</td>
                <td>{{t.address}}</td>
                <td>{{t.phone}}</td>
                <td>{{t.degree}}</td>
                
                <td class="text-right">
                    <button class="btn btn-primary badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="">EDIT</a> </button>
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="">DELETE</a> </button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>
{% endblock %}
