{% extends "Blood/adminbase.html" %}
{% block title %}
  <title>Admin: Patients</title>
{% endblock %}
{% block content %}


<br><br>
<div class="container">
    <H4 class="text-center">PATIENT DETAILS</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Patient ID</th>
                <th scope="col">Name</th>
                <th scope="col">Doctor ID</th>
                <th scope="col">Age</th>
                <th scope="col">Sex</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Blood Group</th>
            </tr>
        </thead>
        <tbody>
            {% for t in patients %}
            <tr>
                <td> {{t.patientId}}</td>
                <td>{{t.name}}</td>
                <td>{{t.doctorId}}</td>
                <td>{{t.age}}</td>
                <td>{{t.sex}}</td>
                <td> {{t.phone}}</td>
                <td>{{t.email}}</td>
                <td>{{t.address}}</td>
                <td>{{t.bloodType}}</td>
                
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>


{% endblock %}
