{% extends "Blood/adminbase.html" %}
{% block title %}
  <title>Admin: Requests</title>
{% endblock %}
{% block content %}


<br><br>
<div class="container">

    <H4 class="text-center">Blood Requested</H4><br>

    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Request ID</th>
                <th scope="col">For Patient ID</th>    
                <th scope="col">By Doctor ID</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Units</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in requests %}
            <tr>
                <td> {{t.requestId}}</td>
                <td>{{t.patientId}}</td>
                <td>{{t.doctorId}}</td>
                <td>{{t.bloodType}}</td>
                <td>{{t.quantity}}</td>
                <td>{{t.date}}</td>
                <td>{{t.isApproved}}</td>
                
                
                <td class="text-right">
                   
                    <button class="btn btn-primary badge-pill" style="width: 100px;"><a  style="text-decoration: none;color: white;" href="">Approve</a> </button>
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="">Reject</a> </button>
                    
                </td>
            </tr>
            {% endfor %}

        </tbody>
    
    </table>


</div>


{% endblock %}
