{% extends "Blood/adminbase.html" %}
{% block title %}
  <title>Admin: Blood Stock</title>
{% endblock %}
{% block content %}

<style>
.xyz{
    
    display: table;
    margin-right: auto;
    margin-left: auto;
}
</style>
<br><br>
<h2 style="text-align:center ;">BLOOD STOCK</h2>
<div class="container">
  {% for t in inventory %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-light">
        <div class="card-body">
            <div class="blood">
                <h2>{{t.bloodType}} <i class="fas fa-tint"></i></h2>
            </div><br><br>
            <div>
                {{t.unit}}
            </div>                            
        </div>
      </div>
    </div>

  </div>
  {% endfor %}
<hr>

</div>

{% endblock %}
