{% extends "Blood/adminbase.html" %}
{% load static %}
{% block title %}
  <title>Admin: Patients</title>
{% endblock %}
{% block content %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/icons/site.webmanifest' %}">

<br><br>
<div class="container">
    <H4 class="text-center">PATIENT DETAILS</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Sex</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Doctor ID</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            {% for t in patients %}
            <tr>
                <td> {{t.patientId}}</td>
                <td>{{t.name}}</td>
                <td>{{t.age}}</td>
                <td>{{t.sex}}</td>
                <td>{{t.bloodType}}</td>
                <td>{{t.doctorId}}</td>
                <td> {{t.phone}}</td>
                <td>{{t.email}}</td>
                <td>{{t.address}}</td>
                
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>


{% endblock %}
