{% extends "Blood/adminbase.html" %}
{% block title %}
  <title>Admin: Donations</title>
{% endblock %}
{% block content %}


<br><br>
<div class="container">
    <H4 class="text-center">BLOOD DONATION DETAILS</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Donation ID</th>
                <th scope="col">Donor Name</th>
                <th scope="col">Date</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Units</th>
                <th scope="col">Status</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in donations %}
            <tr>
                <td> {{t.donationId}}</td>
                <td> {{t.donorName}}</td>
                <td>{{t.date}}</td>
                <td>{{t.bloodType}}</td>
                <td>{{t.quantity}}</td>
                <td>{{t.isApproved}}</td>
                {% if t.isApproved == 'P' %}
                <td class="text-right">
                    <button class="btn btn-primary badge-pill" style="width: 100px;"><a  style="text-decoration: none;color: white;" href="{% url 'Blood:appdonview' t.donationId %}">APPROVE</a> </button>
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="{% url 'Blood:rejdonview' t.donationId %}">REJECT</a> </button>
                </td>
                {% elif  t.isApproved == 'Y' %}
                <td><span class="label warning">{{t.quantity}} Unit Added To Stock</span></td>

                {% else %}
                <td><span class="label danger">Rejected</span></td> 
                {% endif %}
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>


{% endblock %}
