{% extends "Blood/adminbase.html" %}
{% load static %}
{% block title %}
  <title>Admin: Edit Doctor</title>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'assets/css/panelforms.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/icons/site.webmanifest' %}">
<br><br>
<div class="panelforms">
    <form action="{% url 'Blood:editdocsave' doc.DocUser_id %}" method="post">
        <h2 class="header">Edit Doctor: {{doc.name}}</h2>
       <div class="illustration"><i class="icon ion-clipboard"></i></div>
       <label for="name">Name:</label>
       <div class="form-group" id="name"><input class="form-control" type="text" name="name" placeholder="Name" value="{{doc.name}}"></div>
       <label for="age">Age:</label>
       <div class="form-group" id="age"><input class="form-control-ii" type="number" name="age" placeholder="Age" value="{{doc.age}}"></div>
        <div>
            <label for="sex">Sex:</label>
            {% if doc.sex == 'M' %}
          <select name="sex" id="sex" class="select-css">
            <option value="M" selected >Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
          </select>
          {% elif doc.sex == 'F' %}
          <select name="sex" id="sex" class="select-css">
            <option value="M" >Male</option>
            <option value="F" selected>Female</option>
            <option value="O">Other</option>
          </select>
          {% else %}
          <select name="sex" id="sex" class="select-css">
            <option value="M" >Male</option>
            <option value="F">Female</option>
            <option value="O" selected>Other</option>
          </select>
          {% endif %}
        </div>
        <label for="degree">Degree:</label>
      <div class="form-group" id="degree"><input class="form-control" type="text" name="degree" placeholder="Degree" value="{{doc.degree}}"></div>
      <label for="mobile">Mobile No.:</label>
      <div class="form-group" id="mobile"><input class="form-control" type="text" name="phone" placeholder="Mobile" value="{{doc.phone}}"></div>
      <label for="address">Address:</label>
       <div class="form-group" id="address"><input class="form-control" type="text" name="address" placeholder="Address" value="{{doc.address}}"></div>
       
        {% csrf_token %}
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Save</button></div>
      </form>
      <div><a type="button" class="btn btn-danger btn-block" href="{% url 'Blood:editdoccancel' %}">Cancel</a></div>
  </div>

{% endblock %}          
